---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

<Layout title="About">
  <h1 class="text-2xl font-bold mb-4">O mnie</h1>
  <div class="space-y-4">
    <p class="indent-4">
      Staram się żyć zgodnie z przesłaniem Ewangelii Jezusa Chrystusa, w miłości do Boga oraz do innych ludzi. Zgłębiam poznanie Pana Boga m.in. przez Jego Słowo zapisane w Biblii.
    </p>

    <h2 class="text-xl font-bold mt-4 mb-2">Świadectwo</h2>

    <p class="indent-4">
      W 2008 roku, gdy miałem 22 lata, zacząłem czytać Biblię. Znalazłem w niej balsam na moją duszę - dobro, sprawiedliwość i miłość. Czytając Słowo Boże dowiedziałem się,
      że większość obecnego chrześcijaństwa bardzo oddaliła się od czystej i prostej Ewangelii, o której mówił Pan Jezus. W wielu przypadkach do wiary chrześcijańskiej
      zostały dołączone idee zupełnie sprzeczne z Wolą Bożą, a mające źródło w kultach pogańskich i filozofii.
    </p>
    <p class="indent-4">
      Niestety moje życie niewiele się zmieniło mimo znajomości Biblii i uczęszczania do wspólnoty. Nadal czułem w sercu ból, tęsknotę, samotność, a grzech wiązał moje myśli i uczucia.
    </p>
    <p class="indent-4">
      Ale po 5 latach, w styczniu 2013 roku zaczęło dziać się coś niesamowitego. Z dnia na dzień zacząłem czuć zainteresowanie Boga moim życiem. W jednym momencie Pan zabrał moje uzależnienie,
      które szarpało moje serce i zmuszało mnie do marnowania wielu godzin przed komputerem. Następnie zaczęły się dziać niesamowite zbiegi okoliczności. Zacząłem się modlić i ze zdumieniem zobaczyłem,
      że moje modlitwy są wysłuchiwane i Pan Bóg daje odpowiedzi. Początkowo miałem w sobie dużo bojaźni i niepewności. Ale później zobaczyłem tak jasne znaki, że musiałem moją niepewność z radością porzucić :)
    </p>
    <p class="indent-4">
      Na ten moment jestem zupełnie przekonany, że Pan Bóg istnieje i można się do Niego zbliżyć przez ofiarę Jezusa Chrystusa złożoną na krzyżu z powodu naszych grzechów
      - abyśmy mogli być oczyszczeni z naszej winy i w tej czystości móc modlić się do Boga. Pan Bóg czyni cuda, wysłuchuje modlitw i daje odpowiedzi. Jak zbliżyć się do Niego?
      Czytać Biblię i być wykonawcą Jego słowa zaczynając od bycia wiernym w małym, nie zapominając o modlitwie i pokornej postawie względem Twórcy.
    </p>
    <p class="indent-4">
      Niech Pan Bóg błogosławi czytającym. A dobremu, miłosiernemu i cierpliwemu Bogu niech będzie chwała na wieki!
    </p>
  </div>
</Layout>
