---
import { Codepen, Github, Globe, Linkedin, Mail } from 'lucide-astro';
import CopyButton from '../components/ui/CopyButton.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Kontakt">
  <h1 class="text-2xl font-bold mb-4">Kontakt</h1>

  <div class="grid grid-cols-[1fr_2fr] md:grid-cols-2 items-center gap-x-3 gap-y-5">
      <div class="flex items-center justify-end gap-3">
        <Mail size={22} /> E-mail:
      </div>
      <div class="p-2 flex items-center">
        <a class="font-semibold underline-link" href="mailto:jan.madeyski@gmail.com">jan.madeyski@gmail.com</a>
        <CopyButton text="jan.madeyski@gmail.com" />
      </div>

      <div class="flex items-center justify-end gap-3">
        <Globe size={22} /> WWW:
      </div>
      <div class="p-2 flex items-center">
        <a class="font-semibold underline-link" href="https://dev-made.it" rel="noopener noreferrer" target="_blank">dev-made.it</a>
        <CopyButton text="https://dev-made.it" />
      </div>

      <div class="flex items-center justify-end gap-3">
        <Linkedin size={22} /> LinkedIn:
      </div>
      <div class="p-2 flex items-center">
        <a class="font-semibold underline-link" href="https://www.linkedin.com/in/jan-madeyski-964913166/" rel="noopener noreferrer" target="_blank">Jan Madeyski</a>
        <CopyButton text="https://www.linkedin.com/in/jan-madeyski-964913166/" />
      </div>

      <div class="flex items-center justify-end gap-3">
        <Github size={22} /> GitHub:
      </div>
      <div class="p-2 flex items-center">
        <a class="font-semibold underline-link" href="https://github.com/jm-sky/" rel="noopener noreferrer" target="_blank">jm-sky</a>
        <CopyButton text="https://github.com/jm-sky/" />
      </div>

      <div class="flex items-center justify-end gap-3">
        <Codepen size={22} /> CodePen:
      </div>
      <div class="p-2 flex items-center">
        <a class="font-semibold underline-link" href="https://codepen.io/jm-sky/" rel="noopener noreferrer" target="_blank">jm-sky</a>
        <CopyButton text="https://codepen.io/jm-sky/" />
      </div>
  </div>
</Layout>
