---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

<Layout title="Start">
  <div class="text-xl text-center my-5 mb-10">
    <p>Jezus Chrystus żyje i w Swoim Słowie mówi:</p>
    <p class="italic">Upamiętajcie się, albowiem przybliżyło się Królestwo Niebios!</p>
  </div>

  <div class="text-lg space-y-4">
    <p class="indent-4">
      Tworzę aplikacje internetowe dla klientów biznesowych. Obecnie w firmie <strong>TaxOrder</strong> projektuję i rozwijam <strong>Portal Klienta</strong>.
      Parę lat wcześniej wraz z zespołem w firmie <strong>Skłodowscy</strong> napisaliśmy własną aplikację typu MES - <strong>LiteMES</strong>.
    </p>
    <p class="indent-4">
      Pracuję jako <strong>full stack developer</strong>, głównie w technologiach PHP, JavaScript oraz Microsoft SQL Server.
    </p>
    <p class="indent-4">
      Studiowałem na Wydziale Psychologii Uniwersytetu Warszawskiego. W latach 2006-2011 współtworzyłem Studenckie Koło Naukowe Psychologii Uzależnień "Ścieżka".
      W latach 2011-2014 pracowałem jako wychowawca w świetlicy środowiskowej Powiślańskiej Fundacji Społecznej, po odbyciu 2-letniego stażu zawodowego.
    </p>
    <p class="indent-4">
      Lubię kawę z mlekiem, lubię gotować. Nie lubię marnować czasu. Lubię pomagać ludziom.
    </p>

    <p class="italic text-end">
      Jan Madeyski
    </p>
  </div>
</Layout>
