---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

<Layout title="Start">
  <div class="text-xl text-center my-5 mb-10">
    <p class="italic">
      Upamiętajcie się, albowiem przybliżyło się Królestwo Niebios! - Ew. Mateusza 3:2
    </p>
  </div>

  <div class="text-lg space-y-4 text-justify">
    <p class="indent-4">
      Witam serdecznie na mojej stronie!
    </p>

    <p class="indent-4">
      Jestem <strong>full stack developerem</strong> z ponad 10-letnim doświadczeniem w tworzeniu aplikacji internetowych.
      Od 2014 roku współpracuję z klientami biznesowymi, pomagając im budować skuteczne narzędzia do obsługi klientów i optymalizacji procesów wewnętrznych.
    </p>

    <p class="indent-4">
      Jestem otwarty na nowe wyzwania i chętnie uczę się nowych technologii.
      Na co dzień pracuję z technologiami takimi jak PHP, Python, JavaScript, Laravel, Django, FastAPI, Vue.js, Tailwind, Docker, Kafka czy Microsoft SQL Server.
    </p>

    <p class="indent-4">
      Mam żonę i dwójkę dzieci.
      W życiu kieruję się Słowem Bożym oraz dobrym sumieniem.
      Lubię kawę z mlekiem, gotować, piec (i jeść) pizzę.
      Nie lubię marnować czasu. Lubię pomagać ludziom.
    </p>

    <p class="italic text-end">
      Jan Madeyski
    </p>
  </div>
</Layout>
