---
import BackgroundBar from "./BackgroundBar.astro";
---

<div class="footer-container mt-auto mb-0 pt-4 relative">
  <BackgroundBar />
  <footer class="py-4 container w-full max-w-screen-lg mx-auto flex items-center justify-center text-xs text-gray-800 opacity-80 hover:opacity-100 transition-opacity duration-300">
    <p class="text-center">
      <a href="https://dev-made.it" class="text-gray-900 hover:text-gray-950 underline-link" rel="noopener noreferrer" target="_blank">DEV Made IT</a>
    </p>
  </footer>
</div>


