<div class="horizontal-gradient -z-10 absolute top-0 left-0 w-full h-30 flex items-center justify-center blur-[1px] bg-blend-overlay">
</div>

<style>
  @reference "tailwindcss";

  .horizontal-gradient {
    background: linear-gradient(
      to bottom,
      var(--color-slate-300) 0%,
      var(--color-white) 49.9%,
      var(--color-gray-200) 50%,
      transparent 100%
    );
  }
</style>
