<div class="horizontal-gradient">
</div>

<style>
  @reference "tailwindcss";

  .horizontal-gradient {
    @apply -z-10 absolute top-0 left-0 w-full h-36 flex items-center justify-center blur-[1px] bg-blend-overlay;

    background: linear-gradient(
      to bottom,
      var(--color-gray-200) 0%,
      var(--color-white) 49.9%,
      var(--color-gray-200) 50%,
      transparent 100%
    );
  }
</style>
