<div class="light-circles">
  <div class="light-circle absolute rounded-full bg-white/50 -z-10"></div>
  <div class="light-circle absolute rounded-full bg-white/50 -z-10"></div>
  <div class="light-circle absolute rounded-full bg-white/50 -z-10"></div>
  <div class="light-circle absolute rounded-full bg-white/50 -z-10"></div>
</div>

<style>
  @reference "tailwindcss";

  .light-circle {
    width: var(--size);
    height: var(--size);

    &:nth-child(1) {
      --size: 15rem;
      @apply blur-xs;
      top: 8rem;
      left: 15%;
    }

    &:nth-child(2) {
      --size: 8rem;
      top: 30%;
      left: 40%;
    }

    &:nth-child(3) {
      --size: 10rem;
      top: 20%;
      right: 20%;
    }

    &:nth-child(4) {
      --size: 20rem;
      @apply blur-md;
      bottom: 10%;
      right: 10%;
    }
  }
</style>
