---
import "../styles/global.css";
import HorizonGradient from "../components/background/HorizonGradient.astro";
import LightCircles from "../components/background/LightCircles.astro";
import RainbowGradient from "../components/background/RainbowGradient.astro";
import LogoText from "../components/branding/LogoText.astro";
import Footer from "../components/navigation/Footer.astro";
import NavBar from "../components/navigation/NavBar.astro";

interface Props {
  title: string;
}

const { title = "Start" } = Astro.props;
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width" name="viewport" />
    <meta content="My personal website" name="description" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<title>Madeyski.org | {title}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-gray-400">
    <HorizonGradient />
    <RainbowGradient />
    <LightCircles />
    <LogoText />
    <NavBar />

    <div class="mt-6 px-8 md:px-16 py-4 md:py-8 container w-full max-w-screen-lg mx-auto bg-white/60 backdrop-blur-lg rounded-3xl shadow-md/30">
      <slot />
    </div>

    <Footer />

    <script>
      import { clipboardHandler } from '../utils/clipboardHandler';
      clipboardHandler.init();
    </script>
	</body>
</html>

<style>
  @reference "tailwindcss";

	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}

  body {
    background-image: conic-gradient(from 180deg,
      var(--color-teal-200),
      var(--color-slate-400),
      var(--color-blue-200),
      var(--color-slate-400),
      var(--color-blue-200),
      var(--color-slate-400),
      var(--color-gray-200),
      var(--color-teal-200)
    );
  }
</style>
