---
import LogoText from "../components/LogoText.astro";
import HorizonGradient from "../components/HorizonGradient.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import RainbowGradient from "../components/RainbowGradient.astro";
import LightCircles from "../components/LightCircles.astro";

interface Props {
  title: string;
}

const { title = "Start" } = Astro.props;
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="My personal website" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Madeyski.org | {title}</title>
	</head>
	<body class="flex flex-col bg-gray-400 md:overflow-hidden">
    <HorizonGradient />
    <RainbowGradient />
    <LightCircles />
    <LogoText />
    <NavBar />

    <div class="min-h-100 mt-6 px-4 md:px-16 py-4 md:py-8 container w-full max-w-screen-lg mx-auto text-shadow-sm bg-white/60 backdrop-blur-lg rounded-3xl shadow-md/30">
      <slot />
    </div>

    <Footer />
	</body>
</html>

<style>
  @reference "tailwindcss";

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

  body {
    background-image: conic-gradient(from 180deg,
      var(--color-teal-200),
      var(--color-slate-400),
      var(--color-blue-200),
      var(--color-slate-400),
      var(--color-blue-200),
      var(--color-slate-400),
      var(--color-gray-200),
      var(--color-teal-200)
    );
  }
</style>
