<!-- <div class="rainbow-gradient"></div> -->
<div class="rainbow-gradient hidden md:block"></div>
<div class="rainbow-gradient hidden md:block"></div>

<style>
  @reference "tailwindcss";

  .rainbow-gradient {
    @apply absolute -top-10 w-30 h-screen z-10 pointer-events-none;
    @apply opacity-80 bg-gradient-to-b from-teal-50 to-teal-500/0 bg-blend-overlay;
    @apply rotate-10 blur-xl;
    @apply to-50%;

    &:nth-child(2) {
      @apply to-50%;
      @apply translate-x-[80vw];
    }

    &:nth-child(3) {
      @apply from-sky-50 to-80%;
      @apply translate-x-[70vw];
    }
  }
</style>
